flows.json
[{"id":"5a458e58.e769d","type":"tab","label":"EVSE control","disabled":false,"info":""},{"id":"7381557d.4f97ac","type":"victron-input-solarcharger","z":"5a458e58.e769d","service":"com.victronenergy.solarcharger.ttyS2","path":"/Yield/Power","serviceObj":{"service":"com.victronenergy.solarcharger.ttyS2","name":"MPPT 450/100 HQ2044MF1MP","paths":[{"path":"/Dc/0/Voltage","type":"float","name":"Battery voltage (V)"},{"path":"/Dc/0/Current","type":"float","name":"Battery current (A)"},{"path":"/Mode","type":"enum","name":"Charger on/off","enum":{"0":"Off (deprecated)","1":"On","4":"Off"}},{"path":"/State","type":"enum","name":"Charge state","enum":{"0":"Off","2":"Fault","3":"Bulk","4":"Absorption","5":"Float","6":"Storage","7":"Equalize","252":"ESS"}},{"path":"/Pv/V","type":"float","name":"PV voltage"},{"path":"/Pv/I","type":"float","name":"PV current"},{"path":"/Relay/0/State","type":"enum","name":"Relay on the charger","enum":{"0":"Open","1":"Closed"}},{"path":"/ErrorCode","type":"enum","name":"Error code","enum":{"0":"No error","1":"#1 - Battery temperature too high","2":"#2 - Battery voltage too high","3":"#3 - Battery temperature sensor miswired (+)","4":"#4 - Battery temperature sensor miswired (-)","5":"#5 - Battery temperature sensor disconnected","6":"#6 - Battery voltage sense miswired (+)","7":"#7 - Battery voltage sense miswired (-)","8":"#8 - Battery voltage sense disconnected","9":"#9 - Battery voltage wire losses too high","17":"#17 - Charger temperature too high","18":"#18 - Charger over-current","19":"#19 - Charger current polarity reversed","20":"#20 - Max Bulk-time exceeded","22":"#22 - Current sensor issue","23":"#23 - Charger temperature sensor disconnected","34":"#24 - PV over current","38":"#38 - Input shutdown due to battery over-voltage","39":"#39 - Input shutdown due to battery over-voltage","67":"#67 - No BMS","114":"#114 - CPU temperature to high","116":"#116 - Calibration data lost","119":"#119 - Settings data lost"}},{"path":"/Yield/User","type":"string","name":"Yield since reset (kWh)"},{"path":"/Yield/Power","type":"float","name":"Total yield (kWh)"},{"path":"/Yield/System","type":"string","name":"Yield since last update (kWh)"},{"path":"/MppOperationMode","type":"enum","name":"MPP operation mode","enum":{"0":"Off","1":"Voltage or current limited","2":"MPPT Tracker active"}}]},"pathObj":{"path":"/Yield/Power","type":"float","name":"Total yield (kWh)"},"initial":"","name":"","x":270,"y":420,"wires":[["4842e6b5.77c418","d7229b4a.07e5f"]]},{"id":"c2067299.ed9a58","type":"victron-input-battery","z":"5a458e58.e769d","service":"com.victronenergy.battery.socketcan_can0","path":"/Soc","serviceObj":{"service":"com.victronenergy.battery.socketcan_can0","name":"BYD Premium LV battery","paths":[{"path":"/Dc/0/Voltage","type":"float","name":"Battery voltage (V)"},{"path":"/Dc/0/Current","type":"float","name":"Current (A)"},{"path":"/Soc","type":"float","name":"State of charge (%)"},{"path":"/Dc/0/Temperature","type":"float","name":"Battery temperature (C)"},{"path":"/Alarms/LowVoltage","type":"enum","name":"Low voltage alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Alarms/HighVoltage","type":"enum","name":"High voltage alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Alarms/LowTemperature","type":"enum","name":"Low battery temperature alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Alarms/HighTemperature","type":"enum","name":"High battery temperature alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Soh","type":"float","name":"State of health (%)"},{"path":"/Info/MaxChargeVoltage","type":"float","name":"CVL - Charge Voltage Limit (V)"},{"path":"/Info/MaxChargeCurrent","type":"float","name":"CCL - Charge Current Limit (A)"},{"path":"/Info/MaxDischargeCurrent","type":"float","name":"DCL - Discharge Current Limit (A)"},{"path":"/Alarms/CellImbalance","type":"enum","name":"Cell Imbalance alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/HighChargeCurrent","type":"enum","name":"High charge current alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/HighDischargeCurrent","type":"enum","name":"High discharge current alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/InternalFailure","type":"enum","name":"Internal error alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/HighChargeTemperature","type":"enum","name":"High charge temperature alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/LowChargeTemperature","type":"enum","name":"Low charge temperature alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Dc/0/Power","type":"float","name":"Battery power (W)"}]},"pathObj":{"path":"/Soc","type":"float","name":"State of charge (%)"},"name":"","x":250,"y":580,"wires":[["185d64d7.e71ecb","7a7d6293.3f68ec","38c3a1c7.38a95e"]]},{"id":"9fb42689.35b7a8","type":"ui_chart","z":"5a458e58.e769d","name":"","group":"220e7c52.0caab4","order":2,"width":0,"height":0,"label":"Battery % SoC (8 kWh max)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d62728","#916a9f","#ff7f0e","#2ca02c","#98df8a","#1f77b4","#ff9896","#9467bd","#aec7e8"],"outputs":1,"useDifferentColor":false,"x":1100,"y":760,"wires":[[]]},{"id":"7b640c43.89608c","type":"ui_gauge","z":"5a458e58.e769d","name":"","group":"220e7c52.0caab4","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery Flow","label":"Watts","format":"{{value}}","min":"-1000","max":"1000","colors":["#eb4d3d","#e6e600","#64c466"],"seg1":"-250","seg2":"0","x":530,"y":1720,"wires":[]},{"id":"79c45259.7b4784","type":"mqtt out","z":"5a458e58.e769d","name":"","topic":"openevse/rapi/in/$SC","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60806c27.5e2f04","x":1600,"y":1340,"wires":[]},{"id":"d425e16d.bb06e8","type":"mqtt in","z":"5a458e58.e769d","name":"","topic":"openevse/rapi/out/#","qos":"0","datatype":"auto","broker":"60806c27.5e2f04","nl":false,"rap":true,"rh":0,"x":150,"y":2020,"wires":[["c653f4af.3ac158","a6747678.99a358"]]},{"id":"a6747678.99a358","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":2060,"wires":[]},{"id":"76940928.b62258","type":"mqtt out","z":"5a458e58.e769d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60806c27.5e2f04","x":380,"y":2380,"wires":[]},{"id":"b725b777.0da7b","type":"inject","z":"5a458e58.e769d","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"openevse/rapi/in/$GC","payload":"","payloadType":"str","x":160,"y":2380,"wires":[["76940928.b62258"]]},{"id":"7d494a91.e584c4","type":"ui_dropdown","z":"5a458e58.e769d","name":"","label":"Charging speed","tooltip":"","place":"Select option","group":"c0c34f57.d6a1f8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Slow (solar only)","value":6,"type":"num"},{"label":"Medium (mains+ solar) 16A","value":16,"type":"num"},{"label":"Fast (mains + solar) 32A","value":32,"type":"num"}],"payload":"","topic":"openevse","topicType":"str","x":620,"y":1340,"wires":[["5f35eaeb.0b8274","db2073d5.fb03e"]]},{"id":"db2073d5.fb03e","type":"switch","z":"5a458e58.e769d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"16","vt":"num"},{"t":"eq","v":"32","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":1340,"wires":[["e48bf496.c0f3e8"],["757b0303.5bdca4"],["757b0303.5bdca4"]]},{"id":"30d185c6.de6342","type":"ui_text","z":"5a458e58.e769d","group":"c0c34f57.d6a1f8","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":2020,"wires":[]},{"id":"c653f4af.3ac158","type":"change","z":"5a458e58.e769d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\$OK\\s\\d+\\s\\d+\\^\\d+","fromt":"re","to":"Normal","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\$NK\\s\\d+\\s\\d+\\^\\d+","fromt":"str","to":"Error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2020,"wires":[["30d185c6.de6342","a6747678.99a358"]]},{"id":"e65abdf9.71f22","type":"mqtt in","z":"5a458e58.e769d","name":"","topic":"openevse/pilot","qos":"2","datatype":"auto","broker":"60806c27.5e2f04","nl":false,"rap":true,"rh":0,"x":140,"y":1640,"wires":[["609f5a5b.408d44"]]},{"id":"2fdc7de9.8b462a","type":"victron-input-battery","z":"5a458e58.e769d","service":"com.victronenergy.battery.socketcan_can0","path":"/Dc/0/Power","serviceObj":{"service":"com.victronenergy.battery.socketcan_can0","name":"BYD Premium LV battery","paths":[{"path":"/Dc/0/Voltage","type":"float","name":"Battery voltage (V)"},{"path":"/Dc/0/Current","type":"float","name":"Current (A)"},{"path":"/Soc","type":"float","name":"State of charge (%)"},{"path":"/Dc/0/Temperature","type":"float","name":"Battery temperature (C)"},{"path":"/Alarms/LowVoltage","type":"enum","name":"Low voltage alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Alarms/HighVoltage","type":"enum","name":"High voltage alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Alarms/LowTemperature","type":"enum","name":"Low battery temperature alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Alarms/HighTemperature","type":"enum","name":"High battery temperature alarm","enum":{"0":"No alarm","2":"Alarm"}},{"path":"/Soh","type":"float","name":"State of health (%)"},{"path":"/Info/MaxChargeVoltage","type":"float","name":"CVL - Charge Voltage Limit (V)"},{"path":"/Info/MaxChargeCurrent","type":"float","name":"CCL - Charge Current Limit (A)"},{"path":"/Info/MaxDischargeCurrent","type":"float","name":"DCL - Discharge Current Limit (A)"},{"path":"/Alarms/CellImbalance","type":"enum","name":"Cell Imbalance alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/HighChargeCurrent","type":"enum","name":"High charge current alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/HighDischargeCurrent","type":"enum","name":"High discharge current alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/InternalFailure","type":"enum","name":"Internal error alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/HighChargeTemperature","type":"enum","name":"High charge temperature alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Alarms/LowChargeTemperature","type":"enum","name":"Low charge temperature alarm","enum":{"0":"No alarm","1":"Warning","2":"Alarm"}},{"path":"/Dc/0/Power","type":"float","name":"Battery power (W)"}]},"pathObj":{"path":"/Dc/0/Power","type":"float","name":"Battery power (W)"},"name":"","x":230,"y":1780,"wires":[["7b640c43.89608c","1fae0592.cc79aa"]]},{"id":"a2ce4598.889bf","type":"join","z":"5a458e58.e769d","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":1640,"wires":[["bc4a783.afcce88","35bfdd52.41792a"]]},{"id":"bc4a783.afcce88","type":"function","z":"5a458e58.e769d","name":"Set current, tickle and limits","func":"var zerocount = context.get('zc')||0;\nvar EVstate = flow.get('EVSEstate');\nvar mode = flow.get('chargemode');\nvar chg = flow.get('charging');\n\nif (mode == 6) {\n    if (chg && (EVstate === \"Charging\")) {\n        //tickle\n        if ((msg.payload.offset == 0) && (msg.payload.soc >= 95)) {zerocount += 1} else {zerocount = 0}\n        if (zerocount >= 4) {msg.payload.offset = 1; zerocount = 0;}\n        context.set('zc',zerocount);\n        //set current\n        msg.payload = msg.payload.offset + Number(msg.payload.openevse)\n    }\n    else {msg.payload = 6}\n    //set limits\n    if (msg.payload < 6) {msg.payload = 6}\n    if (msg.payload > 32) {msg.payload = 32}\n    //append volatile flag\n    msg.payload += ' V'\n    return msg;\n}\nelse {return null}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1540,"wires":[["757b0303.5bdca4","ac92a9fa.6eff7"]]},{"id":"5f35eaeb.0b8274","type":"change","z":"5a458e58.e769d","name":"Set Charge Mode","rules":[{"t":"set","p":"chargemode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1220,"wires":[[]]},{"id":"7de7635b.e39064","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":1540,"wires":[]},{"id":"35bfdd52.41792a","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1680,"wires":[]},{"id":"2c68ccc2.1eb83c","type":"mqtt out","z":"5a458e58.e769d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60806c27.5e2f04","x":1570,"y":180,"wires":[]},{"id":"cda579c9.8150c","type":"inject","z":"5a458e58.e769d","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"openevse/rapi/in/$FE","payload":"","payloadType":"str","x":1110,"y":200,"wires":[["3768d99c.7425de"]]},{"id":"844ecfb8.7c26e","type":"inject","z":"5a458e58.e769d","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"openevse/rapi/in/$FS","payload":"","payloadType":"str","x":1110,"y":160,"wires":[["3768d99c.7425de"]]},{"id":"3b0fc3d8.4024fc","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":240,"wires":[]},{"id":"3c8cdb2d.231e94","type":"ui_switch","z":"5a458e58.e769d","name":"","label":"Charger on/off switch","tooltip":"","group":"c0c34f57.d6a1f8","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"Green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"Red","animate":true,"x":180,"y":40,"wires":[["61eedeee.3cf238"]]},{"id":"3768d99c.7425de","type":"change","z":"5a458e58.e769d","name":"Blank payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":180,"wires":[["3b0fc3d8.4024fc","cddcd997.f4e928","2c68ccc2.1eb83c"]]},{"id":"ea7e4388.2e9668","type":"switch","z":"5a458e58.e769d","name":"Only send to switch OFF","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":40,"wires":[["96c66d78.c6548"]]},{"id":"96c66d78.c6548","type":"change","z":"5a458e58.e769d","name":"set sleep mode message","rules":[{"t":"set","p":"topic","pt":"msg","to":"openevse/rapi/in/$FS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":40,"wires":[["3768d99c.7425de"]]},{"id":"61eedeee.3cf238","type":"change","z":"5a458e58.e769d","name":"Set master switch flag","rules":[{"t":"set","p":"MasterSwitch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":40,"wires":[["ea7e4388.2e9668"]]},{"id":"b769ae86.019c4","type":"change","z":"5a458e58.e769d","name":"","rules":[{"t":"set","p":"EVSEstate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2220,"wires":[["4749cde.8c2afb4"]]},{"id":"7726fd23.72fc44","type":"mqtt in","z":"5a458e58.e769d","name":"","topic":"openevse/state","qos":"2","datatype":"auto","broker":"60806c27.5e2f04","nl":false,"rap":true,"rh":0,"x":140,"y":2220,"wires":[["bf0a0b49.8a4968"]]},{"id":"b9abfef0.82cd78","type":"inject","z":"5a458e58.e769d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"55","payloadType":"num","x":710,"y":640,"wires":[["7a7d6293.3f68ec"]]},{"id":"6d7aca2c.76cccc","type":"comment","z":"5a458e58.e769d","name":"Battery Monitor for solar-only charging","info":"","x":230,"y":500,"wires":[]},{"id":"38c3a1c7.38a95e","type":"ui_gauge","z":"5a458e58.e769d","name":"Battery SoC","group":"220e7c52.0caab4","order":4,"width":0,"height":0,"gtype":"gage","title":"Battery Charge Level","label":"","format":"{{value | number:0}}%","min":0,"max":"100","colors":["#ca3838","#e6e600","#77bb41"],"seg1":"40","seg2":"75","x":550,"y":500,"wires":[]},{"id":"cddcd997.f4e928","type":"switch","z":"5a458e58.e769d","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"$FE","vt":"str"},{"t":"cont","v":"$FS","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":120,"wires":[["c90aedbd.48b8c"],["ffe4fb22.24d17"]]},{"id":"c90aedbd.48b8c","type":"change","z":"5a458e58.e769d","name":"set charging true","rules":[{"t":"set","p":"charging","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":100,"wires":[[]]},{"id":"ffe4fb22.24d17","type":"change","z":"5a458e58.e769d","name":"set charging false","rules":[{"t":"set","p":"charging","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":140,"wires":[[]]},{"id":"93966802.62613","type":"victron-input-gridmeter","z":"5a458e58.e769d","service":"com.victronenergy.grid.cgwacs_ttyUSB1_mb1","path":"/Ac/Energy/Reverse","serviceObj":{"service":"com.victronenergy.grid.cgwacs_ttyUSB1_mb1","name":"Grid meter","paths":[{"path":"/Ac/Energy/Forward","type":"float","name":"Total Forward Energy (bought) (kWh)"},{"path":"/Ac/Energy/Reverse","type":"float","name":"Total Reverse Energy (sold) (kWh)"},{"path":"/Ac/Power","type":"float","name":"Power (W)"},{"path":"/Ac/Current","type":"float","name":"Current (deprecated) (A)"},{"path":"/Ac/Voltage","type":"float","name":"Voltage (deprecated) (V)"},{"path":"/Ac/L1/Current","type":"float","name":"L1 Current (A)"},{"path":"/Ac/L1/Energy/Forward","type":"float","name":"L1 Forward energy (bought) (kWh)","enum":{}},{"path":"/Ac/L1/Energy/Reverse","type":"float","name":"L1 Reverse energy (sold) (kWh)"},{"path":"/Ac/L1/Power","type":"float","name":"L1 Power (W)"},{"path":"/Ac/L1/Voltage","type":"float","name":"L1 Voltage (V)"},{"path":"/Ac/L2/Current","type":"float","name":"L2 Current (A)"},{"path":"/Ac/L2/Energy/Forward","type":"float","name":"L2 Forward energy (bought) (kWh)"},{"path":"/Ac/L2/Energy/Reverse","type":"float","name":"L2 Reverse energy (sold) (kWh)"},{"path":"/Ac/L2/Power","type":"float","name":"L2 Power (W)"},{"path":"/Ac/L2/Voltage","type":"float","name":"L2 Voltage (V)"},{"path":"/Ac/L3/Current","type":"float","name":"L2 Current (A)"},{"path":"/Ac/L3/Energy/Forward","type":"float","name":"L3 Forward energy (bought) (kWh)"},{"path":"/Ac/L3/Energy/Reverse","type":"float","name":"L3 Reverse energy (sold) (kWh)"},{"path":"/Ac/L3/Power","type":"float","name":"L3 Power (W)"},{"path":"/Ac/L3/Voltage","type":"float","name":"L3 Voltage (V)"},{"path":"/DeviceType","type":"enum","name":"Device type","enum":{}},{"path":"/ErrorCode","type":"enum","name":"Error code","enum":{}}]},"pathObj":{"path":"/Ac/Energy/Reverse","type":"float","name":"Total Reverse Energy (sold) (kWh)"},"name":"","x":230,"y":2500,"wires":[["90ccafc9.33836"]]},{"id":"90ccafc9.33836","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":2500,"wires":[]},{"id":"57e2136d.eee5ec","type":"inject","z":"5a458e58.e769d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"openevse","payload":"16 V","payloadType":"str","x":1020,"y":1440,"wires":[["757b0303.5bdca4"]]},{"id":"d7229b4a.07e5f","type":"ui_gauge","z":"5a458e58.e769d","name":"","group":"220e7c52.0caab4","order":5,"width":0,"height":0,"gtype":"gage","title":"Solar power","label":"Watts","format":"{{value | number:0}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":380,"wires":[]},{"id":"b2a30d9b.8ae65","type":"comment","z":"5a458e58.e769d","name":"Set charge rate","info":"","x":360,"y":1260,"wires":[]},{"id":"687db7fe.02d078","type":"join","z":"5a458e58.e769d","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":500,"wires":[["eeb9bc1c.8a0df8"]]},{"id":"7a7d6293.3f68ec","type":"change","z":"5a458e58.e769d","name":"Set topic.soc","rules":[{"t":"set","p":"topic","pt":"msg","to":"soc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":580,"wires":[["21a69390.05f684","687db7fe.02d078"]]},{"id":"a2999b0a.fcab3","type":"change","z":"5a458e58.e769d","name":"Set topic.pvpower","rules":[{"t":"set","p":"topic","pt":"msg","to":"pvpower","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":420,"wires":[["687db7fe.02d078"]]},{"id":"185d64d7.e71ecb","type":"delay","z":"5a458e58.e769d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":560,"y":700,"wires":[["7ea7a578.74f5a4","9fb42689.35b7a8"]]},{"id":"bf0a0b49.8a4968","type":"switch","z":"5a458e58.e769d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"254","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":310,"y":2220,"wires":[["3e8fb288.42010e"],["a53358ca.681e6"],["bd3aca1a.69aec8"],["b15a8352.80efb8"],["82d20306.b1c5e"]]},{"id":"3e8fb288.42010e","type":"change","z":"5a458e58.e769d","name":"Sleeping","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sleeping","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2140,"wires":[["b769ae86.019c4"]]},{"id":"4749cde.8c2afb4","type":"ui_text","z":"5a458e58.e769d","group":"c0c34f57.d6a1f8","order":3,"width":0,"height":0,"name":"","label":"Charger status:","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":2220,"wires":[]},{"id":"a53358ca.681e6","type":"change","z":"5a458e58.e769d","name":"Ready","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ready","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2180,"wires":[["b769ae86.019c4"]]},{"id":"bd3aca1a.69aec8","type":"change","z":"5a458e58.e769d","name":"Connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"Connected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2220,"wires":[["b769ae86.019c4"]]},{"id":"b15a8352.80efb8","type":"change","z":"5a458e58.e769d","name":"Charging","rules":[{"t":"set","p":"payload","pt":"msg","to":"Charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2260,"wires":[["b769ae86.019c4"]]},{"id":"82d20306.b1c5e","type":"change","z":"5a458e58.e769d","name":"Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2300,"wires":[["b769ae86.019c4"]]},{"id":"c3280382.c10378","type":"comment","z":"5a458e58.e769d","name":"Regulate charge rate based on battery flow","info":"","x":220,"y":1700,"wires":[]},{"id":"80b84ccd.8d17e8","type":"function","z":"5a458e58.e769d","name":"offset profile","func":"// Less than 0 causes slow decay of charging current\n// 0 to 300 causes no change\n// More than 300 cause rapid rise in charging current\n\nvar EVstate = flow.get('EVSEstate');\n\nmsg.topic = 'offset';\n\nif (EVstate == 'Charging')\n   {\n   if (msg.payload < 0) \n       {msg.payload = Math.floor(msg.payload / 500)}\n   else\n       {msg.payload = Math.floor(msg.payload / 300)}\n   }\nelse\n   {msg.payload = 0}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1780,"wires":[["e74237d7.b76b5","a2ce4598.889bf"]]},{"id":"e73b30a7.187888","type":"inject","z":"5a458e58.e769d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-2000","payloadType":"num","x":330,"y":1900,"wires":[["1fae0592.cc79aa"]]},{"id":"e74237d7.b76b5","type":"ui_level","z":"5a458e58.e769d","group":"c0c34f57.d6a1f8","order":7,"width":0,"height":0,"name":"Current Offset","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-10","max":"10","segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":920,"y":1780,"wires":[]},{"id":"53e08a72.8bc764","type":"inject","z":"5a458e58.e769d","name":"Initialise charge current","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"6","payloadType":"num","x":390,"y":1340,"wires":[["7d494a91.e584c4"]]},{"id":"4990ff77.8a61c","type":"ui_switch","z":"5a458e58.e769d","name":"Pause","label":"Pause charging until tomorrow morning","tooltip":"","group":"c0c34f57.d6a1f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1290,"y":920,"wires":[["dd429e30.53c2d8","2c0ed9bf.33cfce"]]},{"id":"1c360092.b5e4d7","type":"victron-input-solarcharger","z":"5a458e58.e769d","service":"com.victronenergy.solarcharger.ttyS2","path":"/State","serviceObj":{"service":"com.victronenergy.solarcharger.ttyS2","name":"MPPT 450/100 HQ2044MF1MP","paths":[{"path":"/Dc/0/Voltage","type":"float","name":"Battery voltage (V)"},{"path":"/Dc/0/Current","type":"float","name":"Battery current (A)"},{"path":"/Mode","type":"enum","name":"Charger on/off","enum":{"0":"Off (deprecated)","1":"On","4":"Off"}},{"path":"/State","type":"enum","name":"Charge state","enum":{"0":"Off","2":"Fault","3":"Bulk","4":"Absorption","5":"Float","6":"Storage","7":"Equalize","252":"ESS"}},{"path":"/Pv/V","type":"float","name":"PV voltage"},{"path":"/Pv/I","type":"float","name":"PV current"},{"path":"/Relay/0/State","type":"enum","name":"Relay on the charger","enum":{"0":"Open","1":"Closed"}},{"path":"/ErrorCode","type":"enum","name":"Error code","enum":{"0":"No error","1":"#1 - Battery temperature too high","2":"#2 - Battery voltage too high","3":"#3 - Battery temperature sensor miswired (+)","4":"#4 - Battery temperature sensor miswired (-)","5":"#5 - Battery temperature sensor disconnected","6":"#6 - Battery voltage sense miswired (+)","7":"#7 - Battery voltage sense miswired (-)","8":"#8 - Battery voltage sense disconnected","9":"#9 - Battery voltage wire losses too high","17":"#17 - Charger temperature too high","18":"#18 - Charger over-current","19":"#19 - Charger current polarity reversed","20":"#20 - Max Bulk-time exceeded","22":"#22 - Current sensor issue","23":"#23 - Charger temperature sensor disconnected","34":"#24 - PV over current","38":"#38 - Input shutdown due to battery over-voltage","39":"#39 - Input shutdown due to battery over-voltage","67":"#67 - No BMS","114":"#114 - CPU temperature to high","116":"#116 - Calibration data lost","119":"#119 - Settings data lost"}},{"path":"/Yield/User","type":"string","name":"Yield since reset (kWh)"},{"path":"/Yield/Power","type":"float","name":"Total yield (kWh)"},{"path":"/Yield/System","type":"string","name":"Yield since last update (kWh)"},{"path":"/MppOperationMode","type":"enum","name":"MPP operation mode","enum":{"0":"Off","1":"Voltage or current limited","2":"MPPT Tracker active"}}]},"pathObj":{"path":"/State","type":"enum","name":"Charge state","enum":{"0":"Off","2":"Fault","3":"Bulk","4":"Absorption","5":"Float","6":"Storage","7":"Equalize","252":"ESS"}},"initial":"","name":"","x":230,"y":920,"wires":[["cc2db3af.7e374"]]},{"id":"8f692b.897c46d8","type":"rbe","z":"5a458e58.e769d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","x":850,"y":920,"wires":[["891eeb92.92785"]]},{"id":"f6c9205e.d0b068","type":"change","z":"5a458e58.e769d","name":"MPPT is on","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":860,"wires":[["8f692b.897c46d8"]],"inputLabels":["On"],"outputLabels":["False"]},{"id":"cc2db3af.7e374","type":"switch","z":"5a458e58.e769d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":920,"wires":[["f6c9205e.d0b068"],["58ad8e72.f07b78"]],"outputLabels":["MPPT on","MPPT off"],"info":"0 is off, everything else is on"},{"id":"a8236b25.efd13","type":"inject","z":"5a458e58.e769d","name":"MPPT off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":140,"y":980,"wires":[["cc2db3af.7e374"]]},{"id":"9b10b152.b3aa7","type":"inject","z":"5a458e58.e769d","name":"MPPT on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"252","payloadType":"num","x":140,"y":860,"wires":[["cc2db3af.7e374"]]},{"id":"58ad8e72.f07b78","type":"change","z":"5a458e58.e769d","name":"MPPT is off","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":980,"wires":[["8f692b.897c46d8"]],"inputLabels":["Off"],"outputLabels":["True"]},{"id":"891eeb92.92785","type":"switch","z":"5a458e58.e769d","name":"MPPT switched on (pause off)","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":920,"wires":[["4990ff77.8a61c","e61fc4d2.7d75a8"]],"outputLabels":["false = MPPT is now on"]},{"id":"530a1f09.76e13","type":"comment","z":"5a458e58.e769d","name":"Pause logic","info":"","x":150,"y":800,"wires":[]},{"id":"f48c286.fdc0dd8","type":"victron-input-vebus","z":"5a458e58.e769d","service":"com.victronenergy.vebus.ttyS3","path":"/Ac/ActiveIn/L1/V","serviceObj":{"service":"com.victronenergy.vebus.ttyS3","name":"MultiPlus-II 48/5000/70-50","paths":[{"path":"/Ac/ActiveIn/L1/V","type":"float","name":"Input voltage phase 1 (VAC)"},{"path":"/Ac/ActiveIn/L2/V","type":"float","name":"Input voltage phase 2 (VAC)"},{"path":"/Ac/ActiveIn/L3/V","type":"float","name":"Input voltage phase 3 (VAC)"},{"path":"/Ac/ActiveIn/L1/I","type":"float","name":"Input current phase 1 (A)"},{"path":"/Ac/ActiveIn/L2/I","type":"float","name":"Input current phase 2 (A)"},{"path":"/Ac/ActiveIn/L3/I","type":"float","name":"Input current phase 3 (A)"},{"path":"/Ac/ActiveIn/L1/F","type":"float","name":"Input frequency 1 (Hz)"},{"path":"/Ac/ActiveIn/L2/F","type":"float","name":"Input frequency 2 (Hz)"},{"path":"/Ac/ActiveIn/L3/F","type":"float","name":"Input frequency 3 (Hz)"},{"path":"/Ac/ActiveIn/L1/P","type":"float","name":"Input power 1 (W)"},{"path":"/Ac/ActiveIn/L2/P","type":"float","name":"Input power 2 (W)"},{"path":"/Ac/ActiveIn/L3/P","type":"float","name":"Input power 3 (W)"},{"path":"/Ac/In/1/CurrentLimit","type":"float","name":"Input 1 current limit (A)"},{"path":"/Ac/In/1/CurrentLimitIsAdjustable","type":"enum","name":"Input 1 current limit is adjustable","enum":{"0":"No","1":"Yes"}},{"path":"/Ac/In/2/CurrentLimit","type":"float","name":"Input 2 current limit (A)"},{"path":"/Ac/In/2/CurrentLimitIsAdjustable","type":"enum","name":"Input 2 current limit is adjustable","enum":{"0":"No","1":"Yes"}},{"path":"/Ac/Out/L1/V","type":"float","name":"Output voltage phase 1 (VAC)"},{"path":"/Ac/Out/L2/V","type":"float","name":"Output voltage phase 2 (VAC)"},{"path":"/Ac/Out/L3/V","type":"float","name":"Output voltage phase 3 (VAC)"},{"path":"/Ac/Out/L1/I","type":"float","name":"Output current phase 1 (A)"},{"path":"/Ac/Out/L2/I","type":"float","name":"Output current phase 2 (A)"},{"path":"/Ac/Out/L3/I","type":"float","name":"Output current phase 3 (A)"},{"path":"/Ac/Out/L1/F","type":"float","name":"Output frequency (Hz)"},{"path":"/Ac/Out/L1/P","type":"float","name":"Output power 1 (W)"},{"path":"/Ac/Out/L2/P","type":"float","name":"Output power 2 (W)"},{"path":"/Ac/Out/L3/P","type":"float","name":"Output power 3 (W)"},{"path":"/Dc/0/Voltage","type":"float","name":"Battery voltage (V)"},{"path":"/Dc/0/Current","type":"float","name":"Battery current (A)"},{"path":"/Ac/NumberOfPhases","type":"float","name":"Phase count"},{"path":"/Ac/ActiveIn/ActiveInput","type":"enum","name":"Active input","enum":{"0":"AC Input 1","1":"AC Input 2","240":"Disconnected"}},{"path":"/Soc","type":"float","name":"VE.Bus state of charge (%)"},{"path":"/State","type":"enum","name":"VE.Bus state","enum":{"0":"Off","1":"Low Power","2":"Fault","3":"Bulk","4":"Absorption","5":"Float","6":"Storage","7":"Equalize","8":"Passthru","9":"Inverting","10":"Power assist","11":"Power supply","252":"Bulk protect"}},{"path":"/VebusError","type":"enum","name":"VE.Bus Error","enum":{"0":"No error","1":"VE.Bus Error 1: Device is switched off because one of the other phases in the system has switched off","2":"VE.Bus Error 2: New and old types MK2 are mixed in the system","3":"VE.Bus Error 3: Not all, or more than, the expected devices were found in the system","4":"VE.Bus Error 4: No other device whatsoever detected","5":"VE.Bus Error 5: Overvoltage on AC-out","6":"VE.Bus Error 6: Error in DDC Program","7":"VE.Bus BMS connected, which requires an Assistant, but no assistant found","10":"VE.Bus Error 10: System time synchronisation problem occurred","11":"VE.Bus Error 11","14":"VE.Bus Error 14: Device cannot transmit data","16":"VE.Bus Error 16: Dongle missing","17":"VE.Bus Error 17: One of the devices assumed master status because the original master failed","18":"VE.Bus Error 18: AC Overvoltage on the output of a slave has occurred while already switched off","22":"VE.Bus Error 22: This device cannot function as slave","24":"VE.Bus Error 24: Switch-over system protection initiated","25":"VE.Bus Error 25: Firmware incompatibility. The firmware of one of the connected device is not sufficiently up to date to operate in conjunction with this device","26":"VE.Bus Error 26: Internal error"}},{"path":"/Alarms/HighTemperature","type":"enum","name":"Temperature","enum":{"0":"Ok","1":"Warning","2":"Alarm"}},{"path":"/Alarms/LowBattery","type":"enum","name":"Low battery","enum":{"0":"Ok","1":"Warning","2":"Alarm"}},{"path":"/Alarms/Overload","type":"enum","name":"Overload","enum":{"0":"Ok","1":"Warning","2":"Alarm"}},{"path":"/Mode","type":"enum","name":"Switch Position","enum":{"1":"Charger Only","2":"Inverter Only","3":"On","4":"Off"}},{"path":"/ModeIsAdjustable","type":"enum","name":"Mode is adjustable","enum":{"0":"No","1":"Yes"}},{"path":"/Energy/AcIn1ToInverter","type":"float","name":"Energy AcIn1 to Inverter (kWh)"},{"path":"/Energy/AcIn2ToInverter","type":"float","name":"Energy ACIn2 to Inverter (kWh)"},{"path":"/Energy/AcIn1ToAcOut","type":"float","name":"Energy ACIn1 to AcOut (kWh)"},{"path":"/Energy/AcIn2ToAcOut","type":"float","name":"Energy ACIn2 to AcOut (kWh)"},{"path":"/Energy/InverterToAcIn1","type":"float","name":"Energy Inverter to AcIn1 (kWh)"},{"path":"/Energy/InverterToAcIn2","type":"float","name":"Energy Inverter to AcIn2 (kWh)"},{"path":"/Energy/AcOutToAcIn1","type":"float","name":"Energy AcOut to AcIn1 (kWh)"},{"path":"/Energy/AcOutToAcIn2","type":"float","name":"Energy AcOut to AcIn2 (kWh)"},{"path":"/Energy/InverterToAcOut","type":"float","name":"Inverter To AcOut (kWh)"},{"path":"/Energy/OutToInverter","type":"float","name":"AcOut to Inverter (kWh)"}]},"pathObj":{"path":"/Ac/ActiveIn/L1/V","type":"float","name":"Input voltage phase 1 (VAC)"},"name":"","x":270,"y":2600,"wires":[["58f41dd9.880e8c","e6c4988a.0fad68"]]},{"id":"58f41dd9.880e8c","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":2600,"wires":[]},{"id":"e6c4988a.0fad68","type":"e-mail","z":"5a458e58.e769d","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":580,"y":2680,"wires":[]},{"id":"b82627f.1c1cd58","type":"link in","z":"5a458e58.e769d","name":"soc for current setting","links":["21a69390.05f684"],"x":735,"y":1600,"wires":[["a2ce4598.889bf"]]},{"id":"21a69390.05f684","type":"link out","z":"5a458e58.e769d","name":"soc","links":["b82627f.1c1cd58"],"x":995,"y":640,"wires":[]},{"id":"4504b796.4d5378","type":"ui_chart","z":"5a458e58.e769d","name":"","group":"c0c34f57.d6a1f8","order":6,"width":0,"height":0,"label":"Charger Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":2820,"wires":[[]]},{"id":"dd429e30.53c2d8","type":"change","z":"5a458e58.e769d","name":"","rules":[{"t":"set","p":"pause","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":920,"wires":[[]]},{"id":"e48bf496.c0f3e8","type":"trigger","z":"5a458e58.e769d","name":"","op1":"20","op2":"6 V","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1160,"y":1280,"wires":[["79c45259.7b4784"],["757b0303.5bdca4"]]},{"id":"9e1380e3.b47a28","type":"smooth","z":"5a458e58.e769d","name":"1 min avg","property":"payload","action":"mean","count":"12","round":"0","mult":"single","reduce":false,"x":760,"y":420,"wires":[["a2999b0a.fcab3","f58066b1.9f64f"]]},{"id":"4842e6b5.77c418","type":"delay","z":"5a458e58.e769d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":420,"wires":[["9e1380e3.b47a28","4d5db504.d35d34"]]},{"id":"609f5a5b.408d44","type":"change","z":"5a458e58.e769d","name":"topic.openevse","rules":[{"t":"set","p":"topic","pt":"msg","to":"openevse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1640,"wires":[["7de7635b.e39064","a2ce4598.889bf"]]},{"id":"1fae0592.cc79aa","type":"smooth","z":"5a458e58.e769d","name":"20s avg","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":520,"y":1780,"wires":[["80b84ccd.8d17e8"]]},{"id":"c6d2788e.b49188","type":"config","z":"5a458e58.e769d","name":"","properties":[{"p":"chargemode","pt":"flow","to":"6","tot":"num"},{"p":"charging","pt":"flow","to":"false","tot":"bool"},{"p":"pause","pt":"flow","to":"false","tot":"bool"},{"p":"zc","pt":"flow","to":"0","tot":"num"},{"p":"MasterSwitch","pt":"flow","to":"true","tot":"bool"}],"active":true,"x":110,"y":3020,"wires":[]},{"id":"76f8d713.13f088","type":"inject","z":"5a458e58.e769d","name":"Trigger sunset calculation","props":[{"p":"payload"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":1000,"y":1040,"wires":[["e61fc4d2.7d75a8"]]},{"id":"e61fc4d2.7d75a8","type":"function","z":"5a458e58.e769d","name":"Sunset calculation ","func":"var ss = suntimes(52.237655607839095,-2.953291674595351);\nflow.set('sunrise',ss[0]);\nflow.set('sunset',ss[1]);\nss[0] = Math.trunc(ss[0]) + (Math.round((ss[0] - Math.trunc(ss[0])) * 60))/100;\nss[1] = Math.trunc(ss[1]) + (Math.round((ss[1] - Math.trunc(ss[1])) * 60))/100;\nmsg.payload = ss;\nreturn msg;\n\n/**\n* Calculates today's sunrise and sunset hours in local time given latitude, longitude, and tz.\n*\n* Equations taken from:\n* https://en.wikipedia.org/wiki/Julian_day#Converting_Julian_or_Gregorian_calendar_date_to_Julian_Day_Number\n* https://en.wikipedia.org/wiki/Sunrise_equation#Complete_calculation_on_Earth\n*\n* @method suntimes\n* @param {Float} lat Latitude of location (South is negative)\n* @param {Float} lng Longitude of location (West is negative)\n* @param {Integer} tz Timezone hour offset. e.g. Pacific/Los Angeles is -8 (Optional, defaults to system timezone)\n* @return {Array} Returns an array of length 2 with the sunrise and sunset times as floats on 24-hour time.\n*                    e.g. 6.5 is 6:30am, 23.2 is 11:12pm, 0.3 is 12:18am\n*                 Returns an array with [null, -1] if the sun never rises, and [-1, null] if the sun never sets.\n*/\n\nfunction suntimes(lat, lng, tz) {\n    var d = new Date();\n    var radians = Math.PI / 180.0;\n    var degrees = 180.0 / Math.PI;\n\n    var a = Math.floor((14 - (d.getMonth() + 1.0)) / 12)\n    var y = d.getFullYear() + 4800 - a;\n    var m = (d.getMonth() + 1) + 12 * a - 3;\n    var j_day = d.getDate() + Math.floor((153 * m + 2)/5) + 365 * y + Math.floor(y/4) - Math.floor(y/100) + Math.floor(y/400) - 32045;\n    var n_star = j_day - 2451545.0009 - lng / 360.0;\n    var n = Math.floor(n_star + 0.5);\n    var solar_noon = 2451545.0009 - lng / 360.0 + n;\n    var M = 356.0470 + 0.9856002585 * n;\n    var C = 1.9148 * Math.sin( M * radians ) + 0.02 * Math.sin( 2 * M * radians ) + 0.0003 * Math.sin( 3 * M * radians );\n    var L = ( M + 102.9372 + C + 180 ) % 360;\n    var j_transit = solar_noon + 0.0053 * Math.sin( M * radians) - 0.0069 * Math.sin( 2 * L * radians );\n    var D = Math.asin( Math.sin( L * radians ) * Math.sin( 23.45 * radians ) ) * degrees;\n    var cos_omega = ( Math.sin(-0.83 * radians) - Math.sin( lat * radians ) * Math.sin( D * radians ) ) / ( Math.cos( lat * radians ) * Math.cos( D * radians ) );\n\n    // sun never rises\n    if( cos_omega > 1)\n      return [null, -1];\n\n    // sun never sets\n    if( cos_omega < -1 )\n      return [-1, null];\n\n    // get Julian dates of sunrise/sunset\n    var omega = Math.acos( cos_omega ) * degrees;\n    var j_set = j_transit + omega / 360.0;\n    var j_rise = j_transit - omega / 360.0;\n\n    /*\n    * get sunrise and sunset times in UTC\n    * Check section \"Finding Julian date given Julian day number and time of\n    *  day\" on wikipedia for where the extra \"+ 12\" comes from.\n    */\n    var utc_time_set = 24 * (j_set - j_day) + 12;\n    var utc_time_rise = 24 * (j_rise - j_day) + 12;\n    var tz_offset = tz === undefined ? -1 * d.getTimezoneOffset() / 60 : tz;\n    var local_rise = (utc_time_rise + tz_offset) % 24;\n    var local_set = (utc_time_set + tz_offset) % 24;\n    return [local_rise, local_set];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1040,"wires":[["e203d366.109b78"]]},{"id":"eeb9bc1c.8a0df8","type":"function","z":"5a458e58.e769d","name":"new start/stop conditions","func":"var d = new Date();\nvar chg = flow.get('charging');\nvar newcharge = chg;\nvar p = flow.get('pause');\nvar mode = flow.get('chargemode');\nvar ms = flow.get ('MasterSwitch');\nvar hours_of_sun = Math.max(flow.get('sunset')-2 - (d.getUTCHours()+d.getUTCMinutes()/60),0);   //effective sun ends 2 hours before sunset\n// cut-off = threshold - (hours-to-sunset * (third of pv-output(minus fridges) / 8) * 100% / 1000ms )\nvar BatteryCutOff = Math.max((40 - (hours_of_sun * Math.max((msg.payload.pvpower - 250),0) / 500)),15);\n\nif (mode == 6) {     // solar\n    if (chg == true) {\n        if (msg.payload.soc <= BatteryCutOff) {newcharge = false}\n    }\n    else {          //charge is false\n    if (msg.payload.soc >= 50) {newcharge = true}\n    }\n}\nelse if ((mode == 16) || (mode == 32)) {newcharge = true}      // not solar but 16/32A mains\n\nif (p) {newcharge = false} // paused until morning\nif (!ms) {newcharge = false} //master switch is off\n\nflow.set('BatteryOff',BatteryCutOff);\nflow.set('hours-of-sun',hours_of_sun);\n\nif (chg == newcharge) {return null}\n\nif (newcharge == true) {msg.topic = \"openevse/rapi/in/$FE\"; msg.payload = \"on\"} else\n    {msg.topic = \"openevse/rapi/in/$FS\"; msg.payload = \"off\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":500,"wires":[["3768d99c.7425de"]]},{"id":"7ea7a578.74f5a4","type":"change","z":"5a458e58.e769d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"BatteryOff","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"bo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":700,"wires":[["9fb42689.35b7a8","8b6a387d.797a48"]]},{"id":"191318b4.da2e37","type":"delay","z":"5a458e58.e769d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":2760,"wires":[["4504b796.4d5378"]]},{"id":"8b6a387d.797a48","type":"ui_text","z":"5a458e58.e769d","group":"220e7c52.0caab4","order":3,"width":0,"height":0,"name":"","label":"Charger off threshold","format":"{{msg.payload|number:2}}%","layout":"row-spread","x":1080,"y":700,"wires":[]},{"id":"e203d366.109b78","type":"ui_text","z":"5a458e58.e769d","group":"220e7c52.0caab4","order":6,"width":0,"height":0,"name":"","label":"Sunrise/Sunset","format":"{{msg.payload[0]}} / {{msg.payload[1]}} UTC","layout":"row-spread","x":1500,"y":1040,"wires":[]},{"id":"2f376cc1.3c89dc","type":"rbe","z":"5a458e58.e769d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":460,"y":240,"wires":[[]]},{"id":"757b0303.5bdca4","type":"rbe","z":"5a458e58.e769d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","x":1310,"y":1340,"wires":[["79c45259.7b4784","3fb2a865.467228"]]},{"id":"3fb2a865.467228","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":1400,"wires":[]},{"id":"ac92a9fa.6eff7","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":1540,"wires":[]},{"id":"2c0ed9bf.33cfce","type":"switch","z":"5a458e58.e769d","name":"Pause turned on","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":860,"wires":[["4bde364c.a4379"]]},{"id":"e2f46af6.c32e4","type":"link in","z":"5a458e58.e769d","name":"go to sleep","links":["4bde364c.a4379"],"x":735,"y":100,"wires":[["96c66d78.c6548"]]},{"id":"4bde364c.a4379","type":"link out","z":"5a458e58.e769d","name":"pause on","links":["e2f46af6.c32e4"],"x":1625,"y":860,"wires":[]},{"id":"99c42e97.a6241","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]},{"id":"f58066b1.9f64f","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":480,"wires":[]},{"id":"ffb1c976.bbd9d8","type":"ui_chart","z":"5a458e58.e769d","name":"Solar Production (kW)","group":"220e7c52.0caab4","order":7,"width":0,"height":0,"label":"Solar Production","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":960,"y":380,"wires":[[]]},{"id":"4d5db504.d35d34","type":"smooth","z":"5a458e58.e769d","name":"2 min avg","property":"payload","action":"mean","count":"24","round":"0","mult":"single","reduce":true,"x":760,"y":380,"wires":[["ffb1c976.bbd9d8","99c42e97.a6241"]]},{"id":"8103c407.26c13","type":"mqtt in","z":"5a458e58.e769d","name":"","topic":"openevse/amp","qos":"2","datatype":"auto","broker":"60806c27.5e2f04","nl":false,"rap":true,"rh":0,"x":140,"y":2820,"wires":[["7c516dae.250a74","e8cb0352.803e78"]]},{"id":"e8cb0352.803e78","type":"debug","z":"5a458e58.e769d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":2880,"wires":[]},{"id":"e2f38f9a.66cd","type":"rbe","z":"5a458e58.e769d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":490,"y":2820,"wires":[["4504b796.4d5378"]]},{"id":"7c516dae.250a74","type":"range","z":"5a458e58.e769d","minin":"0","maxin":"32000","minout":"0","maxout":"32","action":"scale","round":true,"property":"payload","name":"mA to A","x":320,"y":2820,"wires":[["e2f38f9a.66cd","191318b4.da2e37"]]},{"id":"220e7c52.0caab4","type":"ui_group","name":"Solar Power","tab":"49831a77.3c18d4","order":2,"disp":true,"width":"7","collapse":false},{"id":"60806c27.5e2f04","type":"mqtt-broker","name":"","broker":"192.168.10.3","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c0c34f57.d6a1f8","type":"ui_group","name":"EV Charger","tab":"49831a77.3c18d4","order":1,"disp":true,"width":"7","collapse":false},{"id":"49831a77.3c18d4","type":"ui_tab","name":"Solar System","icon":"dashboard","disabled":false,"hidden":false}]